<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label><strong>Nome</strong></label>
    <%= f.text_field :name, class: "form-control", placeholder: "Ex. João" %>
    <% if current_user.profile && current_user.profile.is_admin %>
      <small class="form-text text-muted">Primeiro nome do usuário.</small>
    <% else %>
      <small class="form-text text-muted">Insira seu <strong>primeiro</strong> nome.</small>
    <% end %>
  </div>

  <div class="form-group">
    <label><strong>Idade</strong></label>
    <%= f.number_field :age, class: "form-control", placeholder: "Ex. 23" %>
    <% if current_user.profile && current_user.profile.is_admin %>
      <% if @profile.name %>
        <small class="form-text text-muted">Quantos anos <strong><%= @profile.name %></strong> tem.</small>
      <% else %>
        <small class="form-text text-muted">A idade do usuário.</small>
      <% end %>
    <% else %>
      <small class="form-text text-muted">Quantos anos você tem.</small>
    <% end %>
  </div>

  <div class="custom-control custom-checkbox text-center">
    <%= f.check_box :is_admin, class: "custom-control-input", id: "admin_check" %>
    <label class="custom-control-label" for="admin_check">Administrador</label>
  </div>
  <% if current_user.profile && current_user.profile.is_admin %>
    <small id="emailHelp" class="form-text text-muted text-center">Fazer deste usuário um <strong>administrador</strong>.</small>
  <% else %>
    <small id="emailHelp" class="form-text text-muted text-center">Se é ou não <strong>administrador</strong>.</small>
  <% end %>

  <br>
  <% if current_user.profile && current_user.profile.is_admin %>
    <%= f.submit "Salvar", class: "btn btn-block btn-lg btn-success" %>
  <% else %>
    <%= f.submit "Vamos lá!", class: "btn btn-block btn-lg btn-success" %>
  <% end %>
<% end %>
